extends layout.pug 
append title 
    | Login 
block body
    <form action="/login" method="post">
    <div class="container flex justify-content-center" style="height: 80vh;">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" required name="username" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" required name="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
        
        </div>

        </div>
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Login">
        <div class="text-center">
            <p>Not a member? <a href="/signup">Register</a></p>
            
        </div></form>
    </div>
